<div class="col-4-12">
  <div class="task">
    <%= f.text_field :title, placeholder: "Task Title" %>
    <%= f.text_area :description, placeholder: "Task Description" %>
    <%= link_to_remove_association "Delete", f%> <br>
  </div>
</div>
